/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}
 
  /*===== Colors =====*/
:root{
  --first-color: #4070f4;
  --second-color: #0e2431;
}  
  
  /*===== Fuente y tipografiyia =====*/
  :root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }

  @media screen and (min-width: 768px){
    :root{
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*===== Margenes =====*/
  :root{
    --mb-1: 0.5rem;
    --mb-2: 1.5rem;
    --mb-3: 2rem;
    --mb-4: 2.5rem;
    --mb-5: 3rem;
    --mb-6: 3.5rem;
  }
  
  /*===== z index =====*/
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--big-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height:  0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}


/*===== LAYOUT =====*/
.bg-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100%- 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}


/*===== NAV =====*/


/*=== Show menu ===*/


/*Active menu*/


/*===== HOME =====*/


/*BUTTONS*/


/* ===== ABOUT =====*/


/* ===== SKILLS =====*/


/* ===== EDUCATION =====*/


/* ===== SERVICES =====*/


/* ===== PROJECT IN MIND  =====*/


/* ===== WORKS =====*/


/* ===== CONTACT =====*/


/* ===== FOOTER =====*/


/* ===== MEDIA QUERIES=====*/